/* src/styles/index.css */
.incident-table tr:hover {
  background-color: #f0f0f0;
}

.incident-list-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.incident-list-item:hover {
  background-color: #f0f0f0;
}
